<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="scss/bootstrap.min.css">
  <link rel="stylesheet" href="scss/custom.css">
  <link rel="stylesheet" href="scss/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default header-links">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand logo" href="#"><img src="images/logo.jpg" /></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign in</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> register</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container main-content">
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-12 filter-section">
			<ul>
				<li>
					<h4>Filter section</h4>
				</li>
				<li>
					<label>by parts</label>
				</li>
				<li>
					<label>Screen</label>
					<input type="checkbox" />
				</li>
				<li>
					<label>keyboard</label>
					<input type="checkbox" />
				</li>
				<li>
					<label>touch pad</label>
					<input type="checkbox" />
				</li>
				<li>
					<label>battery</label>
					<input type="checkbox" />
				</li>
				<li>
					<label>battery</label>
					<input type="checkbox" />
				</li>
			</ul>
		</div>
		<div class="col-md-8 col-sm-8 col-xs-12 problem-details">
			<div class="dropdown">
				<label>sort by</label>
				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">section 1
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="#">section 2</a></li>
					<li><a href="#">section 3</a></li>
					<li><a href="#">section 4</a></li>
				</ul>
			</div>
			<div class="problem-info">
				<span>Problem</span>
				<p>content of a page when looking at its layout. The point of using Lorem Ipsum is that it 
				has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', 
				making it look like readable English</p>
				<p>solution link is- <a href="#">link</a></p>
			</div>
			<div class="problem-info">
				<span>Problem</span>
				<p>content of a page when looking at its layout. The point of using Lorem Ipsum is that it 
				has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', 
				making it look like readable English</p>
				<p>solution link is- <a href="#">link</a></p>
			</div>
			<div class="problem-info">
				<span>Problem</span>
				<p>content of a page when looking at its layout. The point of using Lorem Ipsum is that it 
				has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', 
				making it look like readable English</p>
				<p>solution link is- <a href="#">link</a></p>
			</div>
		</div>
	</div>
</div>

<footer class="footer">
	<div class="container">
	    <div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="copyright">
					© 2016, laptop garage, All rights reserved
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
				<ul class="footer-links">
					<li><a href="#">about us </a></li>
					<li><a href="#">contact us </a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
</body>
</html>