
<div class="container main-content">
	<div class="col-md-6 info-text">
		<div class="form-area">  
        <form role="form">
                    <h3>Contact Form</h3>
    				
                <div class="form-group">
                    <input ng-model="name" type="text" id="lastName" placeholder="Full Name"
                    name="lname" 
                    class="form-control"
                    required
                    ng-unique="{key: 'users', property: 'name'}"
                    ng-pattern="/^[a-zA-Z\s]*$/" 
                    autofocus>
                </div>
					<div class="form-group">
                   <input ng-model="email" placeholder="Email"
                            type = "email"
                            name = "emailAddress"
                            class = "form-control"
                            ng-model = "form.emailAddress"
                            invalid-message="'Thats not a real email address'"
                            required-message="'Yo this is required'"
                            validate-on="dirty"
                            required>
                </div>
					<div class="form-group">
						  <input ng-model="mob" ng-required="true" type="numebr" id="mobile" class="form-control"name="mob"
                        placeholder="mobile"
                        required
                        ng-unique="{key: 'users', property: 'mobile'}"
                        ng-pattern="/^(\+\d{1,3}[- ]?)?\d{10}$/" 
                        autofocus>
					</div>
					<div class="form-group">
						<input ng-model="sub" type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
					</div>
                    <div class="form-group">
                    <textarea ng-model="message" class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
                        <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                    
                    </div>
            
        <button ng-click="contact()" type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
        </form>
    </div>
	</div>
</div>