<div class="container main-content">
	<div class="row">
		<div class="col-md-12">
			<a href="#" ng-click="goBack()" class="back-link"><span class="glyphicon glyphicon-chevron-left"></span> back<a>
		</div>
	</div>
	<div class="row list-of-problems">
		<div class="col-md-2 col-sm-2 col-xs-12 filter-section">
			<ul>
				<li>
					<h4>Filter section</h4>
				</li>
				<li>
					<label>by parts</label>
				</li>
				<li ng-repeat="data in checkboxes" ng-click="hideFirstDiv();">
					<label>{{data.label}}</label>
					<input type="checkbox" />
				</li>
				<li>
				    <input type="checkbox" id="test1" checked="checked" />
				    <label for="test1">Yellow</label>
				</li>
				<li>
				    <input type="checkbox" id="test2" checked="checked" />
				    <label for="test2">Yellow</label>
				</li>
				<li>
				   <input type="radio" name="r" id="r1">
				   <label for="r1">Radio 1</label>
				</li>
				<li>
				    <input type="radio" name="r" id="r2">
				    <label for="r2">Radio 2</label>
				</li>

			</ul>
		</div>
		<div class="col-md-10 col-sm-10 col-xs-12 problem-details">
				<select ng-model="selectedSortOption">
					<option value="software">Software</option>
					<option value="hardware">Hardware</option>
				</select>
				<div class="dropdown">
					<label>sort by</label>
				
				</div>
			<div class="problem-info" ng-repeat="data in awesomeThings | filter : selectedSortOption">
				<span>{{data.id}}</span>
				<p>{{data.probDesc}}</p>
				<p>solution link is- <a href="#">link</a></p>
			</div>
		</div>
	</div>
</div>