
<div class="container main-content">
	<div class="col-md-12 info-text">
		<h2>Laptop Garage</h2>
		<p>Hello everyone, If you are facing any problem of your laptop then don't worry we are always for your help. You can solve your laptop problem at your home.
		 Basically the purpose of this website is to help you,guide you about your laptop's software and hardware problem at<span style="background-color: #FFFF00"> Free of Cost..
		 </span>Nothing is more annoying and frustrating irritating than something when you requires your laptop the most but at that time, your laptop is not in that condition to support you. Laptop indicates the failure signal and needs repair services on time in many ways.</p>
		<p>There are many frauds and forfeited laptop service providers in the market that only loot customers and never offer the satisfying laptop repair services. So, it’s suggested that never give your laptop to any service provider before complete satisfaction and feedback about their services.</p>
	</div>
	<div class="row info-container">
		<div ng-click="goTo('/listOfProblems');" class="col-md-4">
			<div class="info-section">
				<a><h3>Problems & Solutions</h3></a>
				<p>In this section you can find laptop problems as well as their solution.This section helps you to resolve your laptop<span style="background-color: gold"> hardware & software</span> problem.you have select the question, we have attched the solutions with that questions. If you are not able to find the problem then Don't worry contact us.</p>
			</div>
		</div>
		<div ng-click="goTo('/laptopParts');" class="col-md-4">
			<div class="info-section">
				<a><h3>Laptop Parts</h3></a>
				<p>In this section you will get all the infromation about parts.Each laptop model contain different type of parts.Same make of laptop but different model also need different.Also we have provided<span style="background-color: gold"> approximate price</span> of parts , it will save your money.But always keep in mind these are approx value's of parts.These are given only to stop your loot from frauds. </p>
			</div>
		</div>
		<div ng-click="goTo('/faqs');" class="col-md-4">
			<div class="info-section">
				<a><h3>FAQ's</h3></a>
				<p>In this section you will find<span style="background-color: gold"> Frequently Asked Questions.</span>Some we cannot explain our problems or we don't understand what's the actual problem.So this section is very helpful foe those who are not able to find their laptop problem.This question's are asked by the user's in thier own language,so you can understand the their language as well as problems and solve your problem .</p>
			</div>
		</div>
	</div>
</div>