<div class="container main-content">
	<div class="row">
		<div class="col-md-12">
			<a href="#" ng-click="goBack()" class="back-link"><span class="glyphicon glyphicon-chevron-left"></span> back<a>
		</div>
	</div>
	<div class="row info-container">
		<div ng-click="goTo('/listOfProblems');" class="col-md-4">
			<div class="info-section">
				<a href="images/camera.jpg"><h3>Camera</h3><img src="images/camera.jpg" height="100px"> Estimated price=Rs.500</a>
				
			</div>
		</div>
		<div ng-click="goTo('/laptopParts');" class="col-md-4">
			<div class="info-section">
				<a href="images/wifi_antenna.jpg"><h3>WiFi Antena</h3><img src="images/wifi_antenna.jpg" height="100px"> Estimated price=Rs.500</a>
				
			</div>
		</div>
		<div ng-click="goTo('/faqs');" class="col-md-4">
			<div class="info-section">
				<a href="images/inverter cable.jpg"><h3>Inverter Cable</h3><img src="images/inverter cable.jpg" height="100px"> Estimated price=Rs.800</a>
				
			</div>
		</div>
	<div ng-click="goTo('/laptopParts');" class="col-md-4">
			<div class="info-section">
				<a href="images/Inverter board.jpg"><h3>Inverter Board</h3><img src="images/Inverter board.jpg" height="100px"> Estimated price=Rs.850</a>
				
			</div>
</div>
<div ng-click="goTo('/laptopParts');" class="col-md-4">
			<div class="info-section">
				<a href="images/keyboard.jpg"><h3>Keyboard</h3><img src="images/keyboard.jpg" height="100px"> Estimated price=Rs.1200</a>
				
			</div>
</div>
<div ng-click="goTo('/laptopParts');" class="col-md-4">
			<div class="info-section">
				<a href="images/touchpad board.jpg"><h3>TouchPad Board</h3><img src="images/touchpad board.jpg" height="100px"> Estimated price=Rs.1100</a>
				
			</div>
</div>
<div ng-click="goTo('/laptopParts');" class="col-md-4">
			<div class="info-section">
				<a href="images/palmrest.jpg"><h3>Palmrest</h3><img src="images/palmrest.jpg" height="100px"> Estimated price=Rs.1500-3500</a>
				
			</div>
</div>
<div ng-click="goTo('/laptopParts');" class="col-md-4">
			<div class="info-section">
				<a href="images/LED board.jpeg"><h3>LED Board</h3><img src="images/LED board.jpeg" height="100px"> Estimated price=Rs.850</a>
				
			</div>
</div>
<div ng-click="goTo('/laptopParts');" class="col-md-4">
			<div class="info-section">
				<a href="images/battery.jpg"><h3>Battery</h3><img src="images/battery.jpg" height="100px"> Estimated price=Rs.2000-3500</a>
				
			</div>
</div>
<div ng-click="goTo('/laptopParts');" class="col-md-4">
			<div class="info-section">
				<a href="images/miniPCIWireless.jpg"><h3>miniPCI Wireless Board</h3><img src="images/miniPCIWireless.jpg" height="100px"> Estimated price=Rs.650</a>
				
			</div>
</div>
<div ng-click="goTo('/laptopParts');" class="col-md-4">
			<div class="info-section">
				<a href="images/VGA board.jpg"><h3>VGA Board</h3><img src="images/VGA board.jpg" height="100px"> Estimated price=Rs.950</a>
				
			</div>
</div>
<div ng-click="goTo('/laptopParts');" class="col-md-4">
			<div class="info-section">
				<a href="images/Bluetooth Board.jpg"><h3>Bluetooth Board</h3><img src="images/Bluetooth Board.jpg" height="100px"> Estimated price=Rs.800</a>
				
			</div>
</div>
<div ng-click="goTo('/laptopParts');" class="col-md-4">
			<div class="info-section">
				<a href="images/Bezel.jpg"><h3>Bezel</h3><img src="images/Bezel.jpg" height="100px"> Estimated price=Rs.600</a>
				
			</div>
</div>
<div ng-click="goTo('/laptopParts');" class="col-md-4">
			<div class="info-section">
				<a href="images/LCD Screen.JPG"><h3>LCD Screen</h3><img src="images/LCD Screen.JPG" height="100px"> Estimated price=Rs.4500-7500</a>
				
			</div>
</div>
<div ng-click="goTo('/laptopParts');" class="col-md-4">
			<div class="info-section">
				<a href="images/LED Screen.jpg"><h3>LED Screen</h3><img src="images/LED Screen.jpg" height="100px"> Estimated price=Rs.4100-6500</a>
				
			</div>
</div>
<div ng-click="goTo('/laptopParts');" class="col-md-4">
			<div class="info-section">
				<a href="images/Hinges.JPG"><h3>Hinges</h3><img src="images/Hinges.JPG" height="100px"> Estimated price=Rs.900 pair</a>
				
			</div>
</div>
<div ng-click="goTo('/laptopParts');" class="col-md-4">
			<div class="info-section">
				<a href="images/LCD Back Cover.jpg"><h3>LCD Back Cover</h3><img src="images/LCD Back Cover.jpg" height="100px"> Estimated price=Rs.1400</a>
				
			</div>
</div>
<div ng-click="goTo('/laptopParts');" class="col-md-4">
			<div class="info-section">
				<a href="images/Speakers.jpg"><h3>Speakers</h3><img src="images/Speakers.jpg" height="100px"> Estimated price=Rs.850</a>
				
			</div>
</div>
<div ng-click="goTo('/laptopParts');" class="col-md-4">
			<div class="info-section">
				<a href="images/LED Board Cover.jpg"><h3>LED Board Cover</h3><img src="images/LED Board Cover.jpg" height="100px"> Estimated price=Rs.1200</a>
				
			</div>
</div>
<div ng-click="goTo('/laptopParts');" class="col-md-4">
			<div class="info-section">
				<a href="images/CPU FAN.jpg"><h3>CPU FAN</h3><img src="images/CPU FAN.jpg" height="100px"> Estimated price=Rs.800</a>
				
			</div>
</div>
<div ng-click="goTo('/laptopParts');" class="col-md-4">
			<div class="info-section">
				<a href="images/Heatsink.jpg"><h3>Heatsink</h3><img src="images/Heatsink.jpg" height="100px"> Estimated price=Rs.850</a>
				
			</div>
</div>
<div ng-click="goTo('/laptopParts');" class="col-md-4">
			<div class="info-section">
				<a href="images/Modem Board.jpg"><h3>Modem Board</h3><img src="images/Modem Board.jpg" height="100px"> Estimated price=Rs.1000</a>
				
			</div>
</div>
<div ng-click="goTo('/laptopParts');" class="col-md-4">
			<div class="info-section">
				<a href="images/MotherBoard.jpg"><h3>MotherBoard</h3><img src="images/MotherBoard.jpg" height="100px"> Estimated price=Rs.7000-12000</a>
				
			</div>
</div>


	</div>
</div>