
<div class="container main-content">
	<div class="col-md-6 info-text">
		<form name="register-form" class="form-horizontal" role="form" angular-validator-submit="register()" novalidate angular-validator>
                <h2>Registration Form</h2>
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">First Name</label> {{fname}}
                    <div class="col-sm-9">
                        <input ng-model="fname" type="text" id="firstName" placeholder="First Name" class="form-control" autofocus 
                        name = "dirty"
                        validate-on="dirty"
                        ng-model = "fname"
                        ng-pattern="/regex/"
                        invalid-message="'You must enter the word `regex`'"
                        required-message="'Yo! This field is required..'">
                    </div>
                </div>
                <div class="form-group">
                    <label for="middleName" class="col-sm-3 control-label">Middle Name</label>
                    <div class="col-sm-9">
                        <input ng-model="mname"type="text" id="middleName" placeholder="Middle Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                    <div class="col-sm-9">
                        <input ng-model="lname" ng-required="true" type="text" id="lastName" placeholder="Full Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobile" class="col-sm-3 control-label">Mobile</label>
                    <div class="col-sm-9">
                        <input ng-model="mob" ng-required="true" type="numebr" id="mobile" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input ng-model="email" type="email" id="email" placeholder="Email" class="form-control"
                            invalid-message="'Thats not a real email address'"
                            required-message="'Yo this is required'"
                            validate-on="dirty">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input ng-model="password" type="password" id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
                    <div class="col-sm-9">
                        <input ng-model="dob" type="date" id="birthDate" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="country" class="col-sm-3 control-label">Country</label>
                    <div class="col-sm-9">
                        <select id="country" class="form-control" ng-model="country">
                            <option>Afghanistan</option>
                            <option>Bahamas</option>
                            <option>Cambodia</option>
                            <option>Denmark</option>
                            <option>Ecuador</option>
                            <option>Fiji</option>
                            <option>Gabon</option>
                            <option>Haiti</option>
                        </select>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <label class="control-label col-sm-3">Gender</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">                                
                                    <input ng-model="female" type="radio" id="femaleRadio" value="Female">
                                    <label class="radio-inline">Female</label>
                            </div>
                            <div class="col-sm-4">                               
                                    <input ng-model="male" type="radio" id="maleRadio" value="Male">
                                    <label class="radio-inline">Male</label>
                            </div>
                            <div class="col-sm-4"> 
                                    <input ng-model="unknown" type="radio" id="uncknownRadio" value="Unknown">                                  
                                    <label class="radio-inline">Unknown</label>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.form-group -->
                
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="checkbox">
                            <input type="checkbox" />
                            <label>I accept <a href="#">terms</a></label>
                        </div>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </form>
	</div>
</div>

